In [87]:
import pandas as pd

In [88]:
data=pd.read_csv("netflix_titles.csv")
data.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

The dataset has 8807 observations.

In [89]:
data.shape

(8807, 12)

Getting columns with atleast one missing value.

In [90]:
missing_col=data.isna().sum()
missing_col=missing_col[missing_col>0]
missing_col

director      2634
cast           825
country        831
date_added      10
rating           4
duration         3
dtype: int64

In [91]:
data.rename(columns={"cast": "casts"}, inplace=True)

Note that we can not fill the director name randomly. So, for simplicity we will put unknow where directors names are not given. On the similar notes, we will replace the null values in cast and country as unknown.

In [92]:
data["director"].fillna("unknow", inplace=True)
data["country"].fillna("unknow", inplace=True)
data["casts"].fillna("unknown", inplace=True)

Now, we will replace the null values in date_added column with the mode value. date_added is date when movies was added on netflix. It does makes sense to replace null values with mode value.

In [93]:
data['date_added'].fillna(data["date_added"].mode()[0], inplace=True)

In other columns rating and duration, there are 3 to 4 values are null. So, it can be drop or replace with mode values.

In [94]:
data.dropna(subset=["rating", "duration"], inplace=True)

In [95]:
data.shape

(8800, 12)

The final dataset has 8800 observations.

Save the final data as csv file.

In [96]:
data.to_csv("CLEAN_netflix_titles.csv", index=False)